<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenmu.personservice.mapper.UserMapper">

    <select id="queryById" resultType="com.zhenmu.personservice.entity.User">
        select id,username,password,phone from sp_user
    </select>
    
    <insert id="saveuser" parameterType="com.zhenmu.personservice.entity.User">
        insert into sp_user (username,password,phone) VALUES (#{username},#{password},#{phone})
    </insert>
</mapper>